[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
mypy = "*"
matplotlib = "*"
memory-profiler = "*"

[packages]

[requires]
python_version = "3.7"
