[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
mypy = "*"
matplotlib = "*"
memory-profiler = "*"
pytest = "*"
requests = "*"
requests-oauthlib = "*"
pytest-xdist = "*"

[packages]
fastapi = "*"
uvicorn = "*"
python-multipart = "*"
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
dacite = "*"

[requires]
python_version = "3.7"
